<!DOCTYPE html>
<html>
<head>
	<title>Stock Market Viz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="header" style="display: flex;">
        <div onclick="goToHome(this);" style="display: flex;">
            <img src="https://dataknyts-nyt-dump.s3.us-west-2.amazonaws.com/tbc-static/home.svg" onclick="goToHome(this);" style="padding-left:10px;"> 
            <h2 style="padding-left:10px;padding-top:10px;" id="header_home">Stock Market Viz</h2>
        </div>
        <div id="vizName">
            <h1>Timeline of Major Events</h1>
        </div>
        <div style="width:50px;"></div>
        <div>
            <div class="dropdown" style="display: none;padding-right:20px;">
                <button class="dropbtn" style="border-radius: 10px;">Select <span>▼</span></button>
                <div class="dropdown-content">
                    <a href="#" id="dropdown_global">Global</a>
                    <a href="#" id="dropdown_regional">Regional</a>
                </div>
            </div>
        </div>
    </div>
	<div class="timeline">
		<ul>
			<li onclick="load_viz_global('Financial-US-Global')">
				<span>13th Dec 2007 - 30th Jun 2009</span>
				<div class="content">
					<h3>US Financial Crash  <span style="color: #fe1919;border-width : 2px;border-style : solid;background-color: #ffcccc;">- 39.3%</span></h3>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					</p>
				</div>
			</li>
			<li onclick="load_viz_global('Japan-Tsunami-Global')">
				<span>7th Mar 2011 - 5th Oct 2011</span>
				<div class="content">
					<h3>Japan Tsunami  <span style="color: #fe1919;border-width: 2px;border-style : solid;background-color: #ffcccc;">- 7.2%</span></h3>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</p>
				</div>
			</li>
			<li onclick="load_viz_global('Chinese-Crash-Global')">
				<span>1st Jun 2015 - 1st Mar 2016</span>
				<div class="content">
					<h3>Chinese Financial Crash  <span style="color: #fe1919;border-width: 2px;border-style : solid;background-color: #ffcccc;">- 14.8%</span></h3>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					</p>
				</div>
			</li>
			<li onclick="load_viz_global('Covid-19-Global')">
				<span>20th Jan 2020 - 1st Dec 2021</span>
				<div class="content">
					<h3>Covid-19  <span style="color: #42f83f;border-width: 2px;border-style: solid;border-color: #42f83f;background-color: #d8fed8;">+ 15.5%</span></h3>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
					</p>
				</div>
			</li>
			<li onclick="load_viz_global('Russia-Ukraine-Global')">
				<span>24th Feb 2022 - Today</span>
				<div class="content">
					<h3>Russia Ukraine Conflict  <span style="color: #fe1919;border-width: 2px;border-style : solid;background-color: #ffcccc;">- 96.9%</span></h3>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
					</p>
				</div>
			</li>
		</ul>
	</div>

    <!--<div id="tablueaVizes">

    </div>
    <div class='tableauPlaceholder' id='viz11' style='position: relative;padding-left: 140px;display: none;'>
        <noscript>
            <a href='#'>
                <img alt='Dashboard 2 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;QF&#47;QFCK3BG7F&#47;1_rss.png' style='border: none' />
            </a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> 
            <param name='path' value='shared&#47;QFCK3BG7F' /> <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;QF&#47;QFCK3BG7F&#47;1.png' /> 
            <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' />
            <param name='filter' value='publish=yes' />
        </object>
    </div>                
    <div class='tableauPlaceholder' id='viz22' style='position: relative;padding-left: 140px;display: none;'></div>
    <div class='tableauPlaceholder' id='viz33' style='position: relative;padding-left: 140px;display: none;'></div>
    <div class='tableauPlaceholder' id='viz44' style='position: relative;padding-left: 140px;display: none;'></div>
    <div class='tableauPlaceholder' id='viz55' style='position: relative;padding-left: 140px;display: none;'></div>
    <div class='tableauPlaceholder' id='viz66' style='position: relative;padding-left: 140px;display: none;'></div>-->

</body>
</html>